
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ site.url }}/assets/images/{% if page.image %}{{ page.image }}{% else %}road.jpg{% endif %}" alt="First slide">
                        <div class="carousel-caption">
                                <h3>Courtenay Probert</h3>
                                <p><a href="{{ site.url }}/archive.html">view all posts</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-text hidden-xs">
                <div class="col-md-12 text-center">
                    <div id="caption">
                        <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                        <h3>{% if page.tagline %}{{ page.tagline }}{% else %}from brain to blog{% endif %}</h3>
                        <div class="">
                            <a class="btn btn-clear btn-sm btn-min-block" href="https://twitter.com/c_probert" target="_blank">Twitter</a>
                            <a class="btn btn-clear btn-sm btn-min-block" href="https://github.com/cprobert" target="_blank">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="push"></div>
